@{
    ViewData["Title"] = "Vision Model Change";
    var modelList = ViewData["models"] as List<app.Models.VisionModelModel>;
    var hubList = ViewData["hubs"] as List<app.Models.IoTHubModel>;
    var deviceList = ViewData["devices"] as List<app.Models.DeviceModel>;
}

<h1>여기 모델 바꿔보세요!</h1>

<form action="/VisionModel/Change" method="post">
    <div class="form-horizontal">
        <h4>Model</h4>
        <hr />
        <div class="text-danger" />
       
        <div class="form-group">
            <label class="control-label col-md-auto" for="Model" />
            <div class="col-md-auto">
                <div class="row">
                    <div class="col-sm-auto">Model Name</div>
                        <div class="col-sm-auto">
                            <select class="form-control" id="Model" name="Model">
                                @foreach (var item in modelList ) {
                                <option value="@item.Name">@item.Name</option>
                            }
                            </select>
                        </div>
                    </div><div class="row">
    <div class="col-sm-auto">IoT Hub</div>
    <div class="col-sm-auto">
        <select class="form-control" id="Hub" name="Hub">
            @foreach (var item in hubList ) {
            <option value="@item.Name">@item.Name</option>
                            }
        </select>
    </div>
</div><div class="row">
    <div class="col-sm-auto">Device Id</div>
    <div class="col-sm-auto">
        <select class="form-control" id="DeviceId" name="DeviceId">
            @foreach (var item in deviceList ) {
            <option value="@item.Name">@item.Name</option>
                            }
        </select>
    </div>
</div>
                </div>
        </div>
        <!-- Markup removed for brevity -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>